:root{
    box-sizing: border-box;
}

#maze{
    height: 375px;
    width: 520px;
    background-color:skyblue;
    display: flex;
    flex-direction:column;
}

.row{
    
    display: flex;
}

.block {
    width: 25px;
    height: 25px;
}

.block.wall{
    background-color: blueviolet;
}

.block.start{
    background-color: cadetblue;
}

.block.finish{
    background-color: coral;
}

#player{
    background-color: palegreen;
    height: 22px;
    width: 22px;
    display: block;
    position: absolute;
    top: 306px;
    left: 10px;
    
}

